<!-- add a new bird that doesn't exist in list --> 
<div class="panel panel-primary" data-ng-cloak>
    <div class="panel-heading">
        <h3 class="panel-title">Lägg till en ny fågel</h3>
        <button class="btn btn-primary" data-ng-click="closeAddBirdForm()">Stäng</button>
    </div>
    <div class="panel-body">
        <span>{{success}}</span>
        <span>{{error}}</span>
        <h1>lägg till ny fågel</h1>
        <form name="addNewBirdForm" class="simple-form" data-ng-submit="saveBird()" required>
            <input name="swedishBirdName" class="form-control" type="text" data-ng-model="birdName" placeholder="Fågelns svenska namn" required>
            <div data-ng-messages="addNewBirdForm.swedishBirdName.$error" data-ng-if="addNewBirdForm.swedishBirdName.$dirty">
                <div data-ng-message="required">Fågelns namn måste anges.</div>
            </div>
            <input name="latinBirdName" class="form-control" type="text" data-ng-model="latinName" placeholder="Fågelns latinska namn" required>
            <div data-ng-messages="addNewBirdForm.latinBirdName.$error" data-ng-if="addNewBirdForm.latinBirdName.$dirty">
                <div data-ng-message="required">Fågelns latinska namn måste anges.</div>
            </div>
            <select name="regularity" data-ng-model="regularity" data-ng-change="updateDropdownValue()" data-ng-options="item for item in regularities">
                <option value="" selected disabled>Välj regularitet</option> 
            </select>
            <span data-ng-show="regularityNotValid">Regularitet måste anges</span>
            <button>Spara fågel</button>
        </form>
    </div>
</div>
