<!-- Add new bird that doesn't exist in list -->
<div class="form_wrapper" data-ng-show="showAddBirdForm" class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
    
    <!-- Panel header-->
    <div class="form_header panel-heading">
        <h4 class="form_title">Registrera en ny fågel</h4>
        <button data-ng-click="closeAddBirdForm()" class="close_btn">X</button>
    </div>
    
    <!-- Error message -->
    <div data-ng-show="error" class="alert alert-danger">
        {{error}}
    </div>
    
    <!-- Success message -->
    <div data-ng-show="success" class="alert alert-success">
        {{success}}
    </div>

    <!-- add bird form --> 
    <div class="panel-body">
        <form name="addNewBirdForm" class="simple-form">
            <div>
                <input name="swedishBirdName" class="form_input" type="text" data-ng-model="birdName" placeholder="Fågelns svenska namn" required>
                <div data-ng-messages="addNewBirdForm.swedishBirdName.$error" data-ng-if="addNewBirdForm.swedishBirdName.$dirty">
                    <div data-ng-message="required">Fågelns namn måste anges.</div>
                </div>
            </div>
            <div>
                <input name="latinBirdName" class="form_input" type="text" data-ng-model="latinName" placeholder="Fågelns latinska namn" required>
                <div data-ng-messages="addNewBirdForm.latinBirdName.$error" data-ng-if="addNewBirdForm.latinBirdName.$dirty">
                    <div data-ng-message="required">Fågelns latinska namn måste anges.</div>
                </div>
            </div>
            <div>
                <select class="form_input" name="regularity" data-ng-model="regularity" data-ng-change="updateDropdownValue()" data-ng-options="item for item in regularities">
                    <option value="" selected disabled>Välj regularitet</option> 
                </select>
                <span data-ng-show="regularityNotValid">Regularitet måste anges</span>
            </div>
            <button type="reset" class="btn action_btn" data-ng-click="saveBird()">Spara fågel</button>
        </form>
    </div>
</div>



