<div class="form_wrapper" data-ng-hide="showAddBirdForm" class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
    
    <!-- Panel header-->
    <div class="form_header panel-heading">
        <h4 class="form_title">Registrera en birdspot</h4>
        <button class="btn panel_heading_btn" data-ng-click="goToAddBird()">Lägg till fågel som inte finns i listan</button>
        <button data-ng-click="closeAddSpotView()" class="close_btn">X</button>
    </div>

    
    <!-- Error message -->
    <div data-ng-show="error" class="alert alert-danger">
        {{error}}
    </div>
    
    <!-- Success message -->
    <div data-ng-show="success" class="alert alert-success">
        {{success}}
    </div>

    <!-- add spot form --> 
    <div class="panel-body">
        <form name="addSpotForm" class="simple-form" required>
            <!-- selected birds list --> 
            <div>                
                <ul ng-repeat="bird in selectedBirds">
                    <li>
                        {{bird.name}} 
                    </li>
                </ul>
            </div>
            <search-bird></search-bird>
            <button class="btn action_btn" data-ng-click="saveSpot()">Spara</button>
        </form>
    </div>
</div>
