<div id="edit-spot-wrapper">
    <button data-ng-click="saveChanges()">Spara ändringar</button>
    <button data-ng-click="closeEditSpotForm()">Stäng</button>
    <span>{{success}}</span>
    <span>{{error}}</span>
    <ul>
        {{selectedSpot.id}}
        <li ng-repeat="bird in selectedBirds">
            {{bird.name}} 
            <button data-ng-click="deleteBird($index)">Radera</button>
        </li>
    </ul>
    <button data-ng-show="!showAddNewBirdPanel" data-ng-click="addNewBird()">Lägg till fågel</button>
    <search-bird data-ng-show="showAddNewBirdForm"></search-bird>
</div>