<div class="login_wrapper">
    
    <!-- Panel header-->
    <div class="form_header panel-heading">
        <h4 class="form_title">Välkommen att logga in</h4>
        <button data-ng-click="closeLogin()" class="close_btn">X</button>
    </div>
    
    <!-- Error message -->
    <div data-ng-show="error" class="alert alert-danger">
        {{error}}
    </div>
       

    <!-- Login form --> 
    <div class="panel-body">
        <form name="loginForm" class="simple-form" data-ng-submit="login(email, password)" required>

            <!-- E-mail-->     
            <input class="form_input" type="email"  name="userEmail" data-ng-model="email" placeholder="E-post" required/><br />
            <div data-ng-messages="loginForm.userEmail.$error" data-ng-if="loginForm.userEmail.$dirty">
                <div data-ng-message="required">E-post måste fyllas i</div>
                <div data-ng-message="email">E-post är ogiltig</div>
            </div>

            <!-- Password --> 
            <input class="form_input" type="password" name="userPassword" data-ng-model="password" data-ng-minlength="6" placeholder="Lösenord" required/>           
            <div data-ng-messages="loginForm.userPassword.$error" data-ng-if="loginForm.userPassword.$dirty">
                <div data-ng-message="required">Lösenord måste fyllas i</div>
                <div data-ng-message="minlength">Lösenord måste innehålla minst 6 tecken</div>
            </div>    

            <!-- Submit --> 
            <button class="btn action_btn">Logga in</button>
        </form>
    </div>
</div>
