 <!-- Partials -->
{{error}}
<my-login class="col-md-4" data-ng-show="showLoginView"></my-login>
<my-header></my-header>
<div id="map_selection_wrapper">
    <form class="simple-form" data-ng-submit="showSelectedMapMarkers(usersOnly, distance)">
        <div id="only_users_wrapper">
            <p id="only_users_checkbox_text" data-ng-show="loggedIn">Endast mina: </p>
            <input id="only_users_checkbox" type="checkbox" data-ng-show="loggedIn" ng-model="usersOnly" value="user" />
        </div>
        <div>
            Avstånd: <input type="text" ng-model="distance" placeholder="Avstånd i hela km"/> km
        </div>
        <search-bird></search-bird>
      <input type="submit" value="Submit">
    </form> 
</div>
<div id="map"></div>