<div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
     <!-- Add new spot panel --> 
    <div class="panel panel-primary" data-ng-show="showAddSpotView" data-ng-cloak>
        <div class="panel-heading">
            <h3 class="panel-title">Lägg till en ny birdspot</h3>
            <button class="btn btn-primary" data-ng-click="closeAddSpotView()">Stäng</button>
            <button class="btn btn-primary" data-ng-click="addNewBirdToList()">Lägg till fågel som inte finns i listan</button>
        </div>
    <p>{{error}}</p>
    <p>{{success}}</p>
      <div class="panel-body">

        <!-- selected birds list --> 
        
            <div>                
                <ul ng-repeat="bird in selectedBirds">
                    <li>
                        {{bird.name}} 
                    </li>
                </ul>
            </div>

        <!-- Searchbar --> 
        <form name="addSpotForm" class="simple-form" data-ng-submit="saveSpot()" required>

            <div class="bar">
                <input class="form-control" type="text" data-ng-model="query" data-ng-change="updateSearchValue()" placeholder="Sök fågel">
            </div>
            <button>Spara</button>
        </form>

         <!-- SearchResult --> 
        <div data-ng-show="showSearchResult" class="search-results">                
            <ul class="birds" ng-repeat="bird in birdList | filter: query | orderBy: 'birdName' ">
                <li>
                    {{bird.birdName}} 
                    <button data-ng-click="addBirdToSpot(bird)">Lägg till</button>
                </li>
            </ul>
        </div>
    
     </div> 
    </div>    
</div>

