<div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
     <!-- Add new spot panel --> 
    <div class="panel panel-primary" data-ng-show="showAddSpotView" data-ng-cloak>
        <div class="panel-heading">
            <h3 class="panel-title">Lägg till en ny birdspot</h3>
            <button class="btn btn-primary" data-ng-click="closeAddSpotView()">Stäng</button>
            <button class="btn btn-primary" data-ng-click="addNewBirdToList()">Lägg till fågel som inte finns i listan</button>
        </div>
    <p>{{error}}</p>
    <p>{{success}}</p>
      <div class="panel-body">

        <!-- selected birds list --> 
        
            <div>                
                <ul ng-repeat="bird in selectedBirds">
                    <li>
                        {{bird.name}} 
                    </li>
                </ul>
            </div>
        <form name="addSpotForm" class="simple-form" data-ng-submit="saveSpot()" required>
            <search-bird></search-bird>
            <button>Spara</button>
        </form>
        
    </div> 
    </div>    
</div>

