<div id="container_view" class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
    <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Lägg till en ny birdspot</h3>
    </div>
    <p>{{spot.errorMessage}}</p>
      <div class="panel-body">
       <form name="addSpotForm" class="simple-form" data-ng-submit="spot.addSpot()" required>
         <div class="bar">
                <input type="text" class="search" ng-model="searchString" placeholder="Sök fågel" />
            </div>
            <ul class="data-ctrl">
                <li ng-repeat="i in items | searchFor:searchString">
                    <p>{{i.title}}
                </li>
           </ul>        
           <button>Spara</button>
       </form>
    </div>
 </div>
</div>